/* .selectbox_container{
    display: none;
} */



.language_logo, .open_arrow, .flag{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}
.open_arrow{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: .3s all;
}
.open_arrow.open{
    transform: rotate(180deg);
}
.flag{
    border-radius: 50%;
    object-fit: cover;
}
