* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 30px 0 0;
}
.notification {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.notification:hover{
    background-color: rgba(13,18,22,0.06);
    transition: 0.4s;
}

.badge {
  font-family: "Inter", sans-serif;
  width: 15px;
  height: 16px;
  background-color: red;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  padding: 4px 8px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 7px;
  left: 19px;
}
.user-part {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.user-avatar {
  font-weight: 500;
  font-size: 12px;
  width: 35px;
  height: 35px;
  background-color: #0085ff1a;
  color: #0085ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
.user-name {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.page-property {
  width: 450px;
  height: 48px;
  padding: 8px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.sidebar-open {
  padding: 15px ;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}
.sidebar-open:hover {
  background-color: #EBEEF0;
  cursor: pointer;
}
.sidebar-open.active{
  display: inline-flex;
}
.sidebar-close.active {
  display: inline-flex;
}
.sidebar-close.active + .sidebar-open {
  display: block;
}

.page-property .navbar-icon{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}
.page-property .navbar-icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 34px;
  border-radius: 2px;
  background-color: #1e0202;
  color: rgba(255, 255, 255);
}
.page-property .navbar-icon p {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1C1C1C;
}
.page-property .orientation {
  display: flex;
  gap:8px;
}
.orientation .manufacturing,
.subcategory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}
.orientation .manufacturing,
.subcategory p {
  font-weight: 500;
  font-size: 16px;
}
.login a {
  color: black;
  font-weight: 500;
  font-size: 16px;
}
